@import "src/mixins";

@keyframes lobby-list-banner-pulsate {
  0% {
    box-shadow: inset 0 0 10px var(--color-primary-dark);
  }
  25% {
    box-shadow: inset 0 0 15px var(--color-primary-dark);
  }
  50% {
    box-shadow: inset 0 0 20px var(--color-primary-dark);
  }
  75% {
    box-shadow: inset 0 0 15px var(--color-primary-dark);
  }
  100% {
    box-shadow: inset 0 0 10px var(--color-primary-dark);
  }
}

@keyframes lobby-list-item-pulsate {
  0% {
    box-shadow: inset 0 0 10px var(--color-accent-dark);
  }
  25% {
    box-shadow: inset 0 0 15px var(--color-accent-dark);
  }
  50% {
    box-shadow: inset 0 0 20px var(--color-accent-dark);
  }
  75% {
    box-shadow: inset 0 0 15px var(--color-accent-dark);
  }
  100% {
    box-shadow: inset 0 0 10px var(--color-accent-dark);
  }
}

.lobby-list-banner {
  width: 100% !important;
  height: 100%;
  margin: 10px 0;
  background-color: rgba(
    $color: var(--color-primary-dark-rgb),
    $alpha: 0.3
  ) !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: row !important;
  color: var(--color-text-light);
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-primary);
  animation: lobby-list-banner-pulsate linear 2s infinite;
  img {
    height: calc(100% - 20px);
    object-fit: contain;
    border-radius: 10px;
    margin: 10px 20px;
    @include media-style-below(xs) {
      margin: 10px 5px;
    }
  }
  h1 {
    font-size: 60px;
    padding-left: 20px;
    white-space: nowrap;
    width: 100%;
    overflow-x: hidden;
    text-overflow: clip;
    text-align: start;
    @include media-style-below(xs) {
      padding-left: 0;
      font-size: 40px;
    }
  }
}

.lobby-list-link {
  width: 100% !important;
  height: 100px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  color: var(--color-primary-dark) !important;
  font-size: 600 !important;
  background-color: rgba(
    $color: var(--color-primary-dark-rgb),
    $alpha: 0.2
  ) !important;
  animation: lobby-list-banner-pulsate linear 2s infinite !important;
  &.left {
    justify-content: flex-start;
    .lobby-list-link-content {
      justify-content: flex-start;
      .label {
        padding-left: 20px;
        text-align: start;
      }
    }
  }
  &.right {
    justify-content: flex-end;
    .lobby-list-link-content {
      justify-content: flex-end;
      .label {
        padding-right: 20px;
        text-align: end;
      }
    }
  }
  .lobby-list-link-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    img {
      height: 90px;
      object-fit: contain;
    }
    .label {
      font-size: 40px;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: clip;
      @include media-style-below(xs) {
        display: none;
        &.lobby-add {
          display: block;
          font-size: 20px;
        }
      }
    }
  }
}
.dark-theme {
  .lobby-list-link-content .label {
    color: var(--color-text-light) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-primary);
  }
}

.lobby-list-list {
  width: calc(100% - 10px);
  height: 100%;
  margin: 5px;
  @include media-style-above(md) {
    margin: 10px 10%;
    width: 80%;
  }

  .lobby-list-card {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(
      $color: var(--color-primary-dark-rgb),
      $alpha: 0.3
    ) !important;
    animation: lobby-list-banner-pulsate linear 2s infinite;
    padding-top: 5px;
    overflow-y: auto;
    border: 2px solid var(--color-accent);
    .lobby-item {
      background-color: var(--color-accent);
      color: var(--color-text-light);
      width: calc(100% - 20px);
      height: 60px;
      margin: 5px 10px;
      border-radius: 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--color-accent-dark);
      font-size: 28px;
      font-weight: 600;
      animation: lobby-list-item-pulsate linear 2s infinite;
    }
  }
}
