<mat-card class="form-card">
  <form
    *ngIf="messageForm"
    method="post"
    class="message-form"
    [formGroup]="messageForm"
    (ngSubmit)="sendMessage()"
  >
    <mat-form-field appearance="outline" class="message-text">
      <input
        id="text"
        type="text"
        matInput
        [placeholder]="'lobby.chat.text' | translate"
        formControlName="text"
      />
    </mat-form-field>
    <button
      class="message-button"
      mat-flat-button
      [disabled]="!valid"
      color="primary"
    >
      <i class="bx bx-send"></i>
    </button>
  </form>
</mat-card>
<mat-card class="message-card" *ngIf="messages.length">
  <div class="text-wrapper" id="msgwrapper">
    <div
      class="text"
      *ngFor="let message of messages"
      [ngClass]="ownMessage(message) ? 'own' : ''"
    >
      <b
        >[{{ message.dateTime | date : "MM:dd HH:mm:ss" : timezone }}]
        {{ message.userName }}:</b
      >
      {{ message.text }}
    </div>
  </div>
</mat-card>
