<mat-grid-list
  cols="12"
  rowHeight="100px"
  gutterSize="5px"
  style="width: 100%; height: 100%; margin-top: 10px"
>
  <mat-grid-tile
    [colspan]="2"
    [md]="1"
    [rowspan]="calcr(4)"
    [mdr]="calcr(2)"
    [smr]="calcr(1)"
  ></mat-grid-tile>
  <mat-grid-tile [colspan]="8" [md]="10" [rowspan]="1">
    <mat-card class="card banner">
      <img src="/assets/party-logo.jpg" alt="banner" />
      <h1>{{ "shop.title" | translate }}</h1>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [md]="1"
    [rowspan]="calcr(4)"
    [mdr]="calcr(2)"
    [xsr]="calcr(1)"
  ></mat-grid-tile>
  <mat-grid-tile [colspan]="2" [md]="5" [rowspan]="1">
    <button class="nav-button left" mat-flat-button color="none" routerLink="/home">
      {{ "shop.nav.home" | translate }}
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [md]="0" [rowspan]="1"></mat-grid-tile>
  <mat-grid-tile [colspan]="2" [md]="5" [rowspan]="1">
    <button class="nav-button right" mat-flat-button color="none" routerLink="/lobby">
      {{ "shop.nav.lobby" | translate }}
    </button>
  </mat-grid-tile>
  <mat-grid-tile
    [rowspan]="height"
    [colspan]="2"
    [md]="5"
    [sm]="10"
    *ngFor="let deck of decks"
  >
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{
            "shop." + deck.deckType + ".title" | translate
          }}</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <div class="cover">
          <img
            *ngIf="!deck.imageLoaded"
            mat-card-xl-image
            src="https://placehold.co/240x240?text=Sushi"
            alt="cover"
          />
          <img
            mat-card-xl-image
            [src]="deck.imagePath | imgPath"
            alt="cover"
            (load)="deck.imageLoaded = true"
            [ngStyle]="deck.imageLoaded ? {} : { display: 'none' }"
          />
        </div>
        <div class="description">
          {{ "shop." + deck.deckType + ".description" | translate }}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" [disabled]="!canBuy(deck)" (click)="buy(deck)">
          {{ getButtonText(deck) | translate }} ({{ deck.cost }}<i class="bx bx-sushi"></i>)
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [md]="5" [rowspan]="1">
    <button class="nav-button left" mat-flat-button color="none" routerLink="/home">
      {{ "shop.nav.home" | translate }}
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [md]="0" [rowspan]="1"></mat-grid-tile>
  <mat-grid-tile [colspan]="2" [md]="5" [rowspan]="1">
    <button class="nav-button right" mat-flat-button color="none" routerLink="/lobby">
      {{ "shop.nav.lobby" | translate }}
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>
