.card {
  width: calc(100% - 20px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  mat-card-header {
    margin-bottom: 10px;
  }
  mat-card-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  mat-card-actions {
    width: 100%;
    max-width: 244px;
    padding: 0;
    margin-top: auto;
    margin-bottom: 10px;
    button {
      width: 100%;
      max-width: 244px;
      color: var(--color-text-light);
      i {
        color: var(--color-text-light);
        vertical-align: middle;
      }
      &:disabled {
        color: var(--color-text);
        i {
          color: var(--color-text);
        }
      }
    }
  }
  .cover {
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0.2);
    max-width: 244px;
    width: 100%;
    height: 244px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .description {
    font-size: small;
    width: 100%;
    max-width: 244px;
    color: var(--color-text);
    margin-top: 10px;
  }
}

.banner {
  padding: 5px;
  img {
    height: 90px;
    width: calc(100% - 10px);
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    position: absolute;
  }
  h1 {
    font-size: 5rem;
    color: var(--color-text-light);
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-primary);
  }
}
