.container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    min-height: 350px;
    min-width: 400px;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    padding-bottom: 10px;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .title-space {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: var(--color-primary);
      border-radius: 10px;
      padding: 10px;
      color: var(--color-text-light);
      text-decoration: none;

      .title {
        font-size: 36px;
        font-weight: 600;
        margin: 10px 0;
      }

      .sign-up {
        a {
          color: var(--color-link-text);
          &:link,
          &:visited,
          &:active {
            text-decoration: none;
          }
        }
        margin: 0;
      }
    }

    .form-table {
      width: 100%;
      height: 260px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 10px;

      label {
        margin-top: 15px;
        margin-bottom: 0;
      }

      button {
        width: 100%;
        height: 50px;
        margin-top: 10px;
        background-color: var(--color-primary);
        color: var(--color-text-light);
        border: 0;
        border-radius: 10px;
        font-size: 24px;
        font-weight: 400;

        &:hover {
          background-color: var(--color-primary-dark);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        &:active {
          background-color: var(--color-primary-dark);
        }

        &:disabled {
          opacity: 0.5;
          box-shadow: none;
          background-color: var(--color-primary);
          cursor: auto;
          transform: scale(1);
          filter: brightness(100%);
        }
      }

      input {
        width: 100%;
        height: 50px;
        border-color: var(--color-text);
        border-style: solid;
        border-radius: 10px;
        padding: 5px;
        &:focus {
          box-shadow: 0;
          outline: none !important;
          border: 2px solid var(--color-primary);
        }
      }
    }
  }
}
