<div class="container">
  <div class="card" *ngIf="loginForm">
    <div class="title-space">
      <span class="title">{{ 'login.title' | translate}}</span>
      <p class="sign-up">
        {{ 'login.sign-up-detail' | translate }} <a routerLink="/register">{{ 'login.sign-up' | translate }}</a>
      </p>
    </div>
    <form
      method="post"
      class="form-table"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
    >
      <label for="userName">{{ 'login.username' | translate }}</label>
      <input
        id="userName"
        type="email"
        [placeholder]="'login.username' | translate"
        formControlName="userName"
        required
        minlength="4"
      />
      <label for="password">{{ 'login.password' | translate }}</label>
      <input
        id="password"
        type="password"
        [placeholder]="'login.password' | translate"
        formControlName="password"
        required
        minlength="7"
      />
      <button class="button" type="submit" [disabled]="!loginForm.valid">
        {{ 'login.submit' | translate }}
      </button>
    </form>
  </div>
</div>
