<div class="foil" [ngClass]="open ? 'open' : ''">
  <mat-accordion displayMode="flat" class="main-list" [ngClass]="open ? 'open' : ''">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="friend-list-header" [ngClass]="open ? 'open' : ''">
        <mat-panel-title>
          Friends
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let friend of friends" class="friend-list-item" class="friend-wrapper">
        <div class="friend-name">
          {{friend.userName}}
        </div>
        <div class="friend-buttons">
          <i class="bx bxs-circle status" [ngClass]="friend.status ? 'ok' : ''"></i>
          <button class="decline-button" (click)="declineFriend(friend)">
            <i class="bx bx-x"></i>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="friend-list-header" [ngClass]="open ? 'open' : ''">
        <mat-panel-title>
          Sent requests
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let request of sent" class="friend-wrapper">
        <div class="friend-name">
          {{request.userName}}
        </div>
        <div class="friend-buttons">
          <i class="bx bxs-circle status" [ngClass]="request.status ? 'ok' : ''"></i>
          <button class="decline-button" (click)="declineFriend(request)">
            <i class="bx bx-x"></i>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="friend-list-header" [ngClass]="open ? 'open' : ''">
        <mat-panel-title>
          Received requests
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let request of received" class="friend-wrapper">
        <div class="friend-name">
          {{request.userName}}
        </div>
        <div class="friend-buttons">
          <i class="bx bxs-circle status" [ngClass]="request.status ? 'ok' : ''"></i>
          <button class="accept-button" (click)="addFriend(request)">
            <i class="bx bx-check"></i>
          </button>
          <button class="decline-button" (click)="declineFriend(request)">
            <i class="bx bx-x"></i>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="friend-header" [ngClass]="open ? 'open' : ''">
  <button class="add-button" (click)="openAddFriend()">
    <i class="bx bx-plus"></i>
  </button>
  <div class="title" [ngClass]="open ? 'open' : ''">Friends</div>
</div>
<button class="friend-button" (click)="switchOpen()">
  <i class="bx bx-group"></i>
</button>