<div class="settings-buttons" [ngStyle]="closeStyle" (mouseenter)="forceOpen()" (mouseleave)="close()">
  <div class="open-icon" (touchstart)="switchOpen()">
    <i class="bx" [ngClass]="open ? 'bx-chevron-right' : 'bx-chevron-left'"></i
    ><i class="bx bx-cog"></i>
  </div>
  <button [id]="'settings-' + setting.settings" mat-flat-button class="setting-button" *ngFor="let setting of settings" [value]="setting" (click)="onSelect(setting.settings)"><i [ngClass]="setting.icon"></i></button>
</div>
