<div class="register-container">
  <mat-card class="register-card" *ngIf="registerForm">
    <div class="title-space">
      <span class="title">{{ "register.title" | translate }}</span>
      <p class="sign-up">
        {{ "register.login-detail" | translate }}
        <a routerLink="/login">{{ "register.login" | translate }}</a>
      </p>
    </div>
    <form
      method="post"
      class="register-form"
      [formGroup]="registerForm"
      (ngSubmit)="register()"
    >
      <mat-form-field appearance="outline">
        <mat-label>{{ "register.username" | translate }}</mat-label>
        <input
          id="userName"
          type="email"
          matInput
          [placeholder]="'register.username' | translate"
          formControlName="userName"
          minlength="4"
        />
      </mat-form-field>
      <div class="name-row">
        <mat-form-field appearance="outline">
          <mat-label>{{ "register.first-name" | translate }}</mat-label>
          <input
            id="firstName"
            type="text"
            matInput
            [placeholder]="'register.first-name' | translate"
            formControlName="firstName"
            minlength="4"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ "register.last-name" | translate }}</mat-label>
          <input
            id="lastName"
            type="text"
            matInput
            [placeholder]="'register.last-name' | translate"
            formControlName="lastName"
            minlength="4"
          />
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "register.email" | translate }}</mat-label>
        <input
          id="email"
          type="email"
          matInput
          [placeholder]="'register.email' | translate"
          formControlName="email"
          minlength="4"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ "register.password" | translate }}</mat-label>
        <input
          id="password"
          type="password"
          matInput
          [placeholder]="'register.password' | translate"
          formControlName="password"
          minlength="7"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ "register.confirm-password" | translate }}</mat-label>
        <input
          id="confirmedPassword"
          type="password"
          matInput
          [placeholder]="'register.confirm-password' | translate"
          formControlName="confirmedPassword"
          minlength="7"
        />
      </mat-form-field>
      <button mat-flat-button color="primary" class="button" type="submit" [disabled]="!registerForm.valid">
        {{ "register.submit" | translate }}
      </button>
    </form>
  </mat-card>
</div>
