<div class="login-container">
  <mat-card class="login-card" *ngIf="loginForm">
    <div class="title-space">
      <span class="title">{{ "login.title" | translate }}</span>
      <p class="sign-up">
        {{ "login.sign-up-detail" | translate }}
        <a routerLink="/register">{{ "login.sign-up" | translate }}</a>
      </p>
    </div>
    <form
      method="post"
      class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
    >
      <mat-form-field appearance="outline">
        <mat-label>{{ "login.username" | translate }}</mat-label>
        <input
          id="username"
          type="email"
          matInput
          [placeholder]="'login.username' | translate"
          formControlName="username"
          minlength="4"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ "login.password" | translate }}</mat-label>
        <input
          id="password"
          type="password"
          matInput
          [placeholder]="'login.password' | translate"
          formControlName="password"
          minlength="7"
        />
      </mat-form-field>
      <button id="loginButton" mat-flat-button color="primary" class="button" type="submit" [disabled]="!loginForm.valid">
        {{ "login.submit" | translate }}
      </button>
    </form>
  </mat-card>
</div>
