<mat-card class="card">
  <div class="title">{{ "home.user.title" | translate }}</div>
  <mat-card-header>
    <div class="avatar">
      <img mat-card-xl-image [src]="avatarUrl" alt="avatar" />
    </div>
    <mat-card-title-group class="title-group">
      <mat-card-title>
        <div class="name">{{ "home.user.username" | translate }}</div>
        <div class="value" *ngIf="user">{{ user.userName }}</div>
      </mat-card-title>
      <mat-card-subtitle>
        <div class="name">{{ "home.user.name" | translate }}</div>
        <div class="value" *ngIf="user" [matTooltip]="user.name">{{ user.name }}</div>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <div class="name">{{ "home.user.email" | translate }}</div>
        <div class="value" *ngIf="user" [matTooltip]="user.email">{{ user.email }}</div>
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="user">
        {{ "home.user.exp" | translate: { points: user.experience } }}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="user && user.mode">
        {{ ("home.user." + user.mode) | translate }}
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content><mat-divider></mat-divider></mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button>{{ "home.user.edit" | translate }}</button>
    <button mat-stroked-button>{{ "home.user.logout" | translate }}</button>
    <button mat-stroked-button *can="'CanClaimParty'">{{ "home.user.logout" | translate }}</button>
  </mat-card-actions>
</mat-card>
