<div class="container">
  <div class="card" *ngIf="registerForm">
    <div class="title-space">
      <span class="title">{{ 'register.title' | translate }}</span>
      <p class="sign-up">
        {{ 'register.login-detail' | translate }} <a routerLink="/login">{{ 'register.login' | translate }}</a>
      </p>
    </div>
    <form
      method="post"
      class="form-table"
      [formGroup]="registerForm"
      (ngSubmit)="register()"
    >
      <label for="userName">{{ 'register.username' | translate }}</label>
      <input
        id="userName"
        type="email"
        [placeholder]="'register.username' | translate"
        formControlName="userName"
        required
        minlength="4"
      />

      <div class="name-row">
        <div>
          <label for="firstName">{{ 'register.first-name' | translate }}</label>
          <input
            id="firstName"
            type="text"
            [placeholder]="'register.first-name' | translate"
            formControlName="firstName"
            required
            minlength="4"
          />
        </div>
        <div>
          <label for="lastName">{{ 'register.last-name' | translate }}</label>
          <input
            id="lastName"
            type="text"
            [placeholder]="'register.last-name' | translate"
            formControlName="lastName"
            required
            minlength="4"
          />
        </div>
      </div>
      <label for="email">{{ 'register.email' | translate }}</label>
      <input
        id="email"
        type="email"
        [placeholder]="'register.email' | translate"
        formControlName="email"
        required
        minlength="4"
      />
      <label for="pw">{{ 'register.password' | translate }}</label>
      <input
        id="pw"
        type="password"
        [placeholder]="'register.password' | translate"
        formControlName="pw"
        required
        minlength="7"
      />
      <label for="pwc">{{ 'register.confirm-password' | translate }}</label>
      <input
        id="pwc"
        type="password"
        [placeholder]="'register.confirm-password' | translate"
        formControlName="pwc"
        required
        minlength="7"
      />
      <button class="button" type="submit" [disabled]="!registerForm.valid">
        {{ 'register.submit' | translate }}
      </button>
    </form>
  </div>
</div>
