<mat-grid-list cols="12" rowHeight="100px" gutterSize="5px" class="lobby-list" *ngIf="lobby">
  <mat-grid-tile [colspan]="12" [rowspan]="1" class="banner-row">
    <button class="ready-button back" mat-flat-button color="accent" (click)="leave()">
      <i class='bx bx-arrow-back'></i>
    </button>
    <button class="ready-button" mat-flat-button [ngClass]="own.ready ? 'true' : 'false'" *ngIf="own" (click)="ready()">
      <i class='bx bx-check' *ngIf="!own.ready"></i>
      <i class='bx bx-x' *ngIf="own.ready"></i>
    </button>
    <button class="ready-button" mat-flat-button color="accent" *ngIf="isCreator">
      <i class='bx bx-edit'></i>
    </button>
    <button class="ready-button start" mat-flat-button *ngIf="isCreator">
      <i class='bx bx-send'></i>
    </button>
    <mat-card class="card banner hideable">
      <h1>{{ lobby.name }}</h1>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="0" [rowspan]="1" [sm]="12">
    <mat-card class="card banner">
      <h1>{{ lobby.name }}</h1>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [md]="12" [rowspan]="3">
    <mat-card class="card lobby-items">
      <mat-card class="player-item" *ngFor="let player of players">
        <div class="avatar">
          <img *ngIf="!player.imageLoaded" mat-card-sm-image src="https://placehold.co/80x80?text=Sushi" alt="cover" />
          <img mat-card-sm-image [src]="player.imagePath | imgPath" alt="cover" (load)="player.imageLoaded = true"
            [ngStyle]="player.imageLoaded ? {} : { display: 'none' }" />
        </div>
        <div class="name">{{ player.userName }}</div>
        <div class="ready" [ngClass]="player.ready ? 'true' : 'false'">
          <i class='bx bx-check' *ngIf="player.ready"></i>
          <i class='bx bx-x' *ngIf="!player.ready"></i>
        </div>
      </mat-card>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="9" [md]="12" [rowspan]="3">
    <mat-card class="card lobby-content">
      <mat-card-content>
        <div class="content">
          <div class="data">
            <div class="name creator">Creator</div>
            <div class="value">
              <p>{{ creator }}</p>
            </div>
          </div>
          <div class="data">
            <div class="name password">Password</div>
            <div class="value">
              <p>{{ lobby.password }}</p>
            </div>
          </div>
          <div class="data">
            <div class="name date">Date</div>
            <div class="value">
              <p>{{ lobby.created | date: 'YYYY.MM.dd HH:mm' }}</p>
            </div>
          </div>
        </div>
        <div class="image" *ngIf="deck">
          <mat-card-title>{{
            "shop." + deck.deckType + ".title" | translate
            }}</mat-card-title>
          <div class="cover">
            <img *ngIf="!deck.imageLoaded" mat-card-xl-image src="https://placehold.co/240x240?text=Sushi"
              alt="cover" />
            <img mat-card-xl-image [src]="deck.imagePath | imgPath" alt="cover" (load)="deck.imageLoaded = true"
              [ngStyle]="deck.imageLoaded ? {} : { display: 'none' }" />
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="6">
    <app-chat style="width: 100%; height: 100%"></app-chat>
  </mat-grid-tile>
</mat-grid-list>