<div class="lang-buttons" [ngStyle]="closeStyle" (mouseenter)="forceOpen()" (mouseleave)="close()">
  <div class="open-icon" (touchstart)="switchOpen()">
    <i class="bx" [ngClass]="open ? 'bx-chevron-right' : 'bx-chevron-left'"></i
    ><i class="bx bx-palette"></i>
  </div>
  <mat-button-toggle-group
    name="themes"
    aria-label="Themes"
    (change)="onSelect($event.value)"
    [value]="currentTheme"
  >
    <mat-button-toggle *ngFor="let theme of themes" [value]="theme.theme"><i [ngClass]="theme.icon"></i></mat-button-toggle>
  </mat-button-toggle-group>
</div>
