<mat-grid-list cols="12" rowHeight="100px" gutterSize="5px" class="lobby-list">
  <mat-grid-tile [colspan]="12" [rowspan]="1">
    <mat-card class="lobby-list-card lobby-list-banner">
      <h1>{{ 'lobby-list.title' | translate }}</h1>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="6">
    <mat-card class="lobby-list-card lobby-items">
      <mat-card class="lobby-item" *ngFor="let lobby of lobbies" (click)="join(lobby)">
        <div class="name">{{ lobby.name }}</div>
      </mat-card>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [md]="4" [rowspan]="1">
    <button class="lobby-nav-button left" mat-flat-button color="none" routerLink="/home">
      {{ "lobby-list.nav.home" | translate }}
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="8" [md]="4" [rowspan]="1">
    <button class="lobby-nav-button" mat-flat-button color="none" (click)="create()">
      {{ "lobby-list.nav.create" | translate }}
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [md]="4" [rowspan]="1">
    <button class="lobby-nav-button right" mat-flat-button color="none" routerLink="/shop">
      {{ "lobby-list.nav.shop" | translate }}
    </button>
  </mat-grid-tile>
</mat-grid-list>
