@keyframes accent-pulsate {
  0%   { box-shadow: inset 0 0 10px var(--color-accent-dark); }
  25% { box-shadow: inset 0 0 15px var(--color-accent-dark); }
  50% { box-shadow: inset 0 0 20px var(--color-accent-dark); }
  75% { box-shadow: inset 0 0 15px var(--color-accent-dark); }
  100%   { box-shadow: inset 0 0 10px var(--color-accent-dark); }
}

@keyframes primary-pulsate {
  0%   { box-shadow: inset 0 0 10px var(--color-primary-dark); }
  25% { box-shadow: inset 0 0 15px var(--color-primary-dark); }
  50% { box-shadow: inset 0 0 20px var(--color-primary-dark); }
  75% { box-shadow: inset 0 0 15px var(--color-primary-dark); }
  100%   { box-shadow: inset 0 0 10px var(--color-primary-dark); }
}

@keyframes ok-pulsate {
  0%   { box-shadow: inset 0 0 10px var(--color-ok); }
  25% { box-shadow: inset 0 0 15px var(--color-ok); }
  50% { box-shadow: inset 0 0 20px var(--color-ok); }
  75% { box-shadow: inset 0 0 15px var(--color-ok); }
  100%   { box-shadow: inset 0 0 10px var(--color-ok); }
}

.hand-scroll {
  width: calc(100% - 150px);
}

.hand-container {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.2);
  display: flex;
  flex-direction: row;

  .hand-select {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 0;

    .hand-select-option {
      flex: 1 1 0;
      background-color: rgba($color: var(--color-accent-rgb), $alpha: 1.0);
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: var(--color-accent);
      animation: accent-pulsate linear 2s infinite;
      border-radius: 5px;
      margin: 0 5px 5px 5px;
      padding: 0 30px;
      width: calc(100% - 10px);
      &:last-child {
        margin-bottom: 0;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      &.mdc-list-item--selected {
        background-color: var(--color-accent-dark);
      }
      &.can-play {
        box-shadow: 0 0 3px 3px var(--color-ok) !important;
      }
      .hand-select-content {
        color: var(--color-text-light);
        text-align: center;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-text-stroke-width: 0;
        font-weight: 600;
      }
    }
  }
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: var(--color-accent-rgb), $alpha: 0.6);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-accent);
    animation: accent-pulsate linear 2s infinite;
    border-radius: 5px;
    margin: 5px;
    height: calc(100% - 10px);
    .card-wrapper {
      width: auto;
      height: 100%;
    }
  }
}

ng-scrollbar {
  --scrollbar-size: 5px;
  --scrollbar-thumb-color: var(--color-primary);
  --scrollbar-thumb-hover-color: var(--color-primary-dark);
}

.show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;
  left: 70px;
  width: 0;
  height: 0;
  color: var(--color-primary);
  .show-svg {
    position: absolute;
  }
}
