<div class="hand-container">
  <mat-selection-list
    [multiple]="false"
    hideSingleSelectionIndicator
    [(ngModel)]="selectedHand"
    class="hand-select"
  >
    <mat-list-option class="hand-select-option" [ngClass]="{ 'can-play': canPlay }" value="hand">
      <span class="material-symbols-outlined hand-select-content">
        playing_cards
      </span>
    </mat-list-option>
    <mat-list-option class="hand-select-option" [ngClass]="{ 'can-play': canPlayAfter }" value="board">
      <span class="material-symbols-outlined hand-select-content">
        shelf_position
      </span>
    </mat-list-option>
  </mat-selection-list>
  <ng-scrollbar
    track="horizontal"
    trackClass="hand-track"
    thumbClass="hand-thumb"
    class="hand-scroll"
    visibility="hover"
    autoHeightDisabled="false"
    *ngIf="selectedHand.includes('hand')"
  >
    <div class="card-container" *ngIf="hand?.cards?.length" scrollViewport>
      <app-card-wrapper
        class="card-wrapper"
        *ngFor="let card of hand?.cards; index as i"
        [hand]="true"
        [card]="card"
        [@slideInOut]="{ value: ':enter', params: { delay: i * 100 } }"
      ></app-card-wrapper>
    </div>
  </ng-scrollbar>
  <ng-scrollbar
    track="horizontal"
    trackClass="hand-track"
    thumbClass="hand-thumb"
    class="hand-scroll"
    style="width: 100%"
    visibility="hover"
    autoHeightDisabled="false"
    *ngIf="selectedHand.includes('board')"
  >
    <div class="card-container" *ngIf="board?.cards?.length" scrollViewport>
      <app-card-wrapper
        class="card-wrapper"
        *ngFor="let card of board?.cards; index as i"
        [hand]="false"
        [card]="card"
        [@slideInOut]="{ value: ':enter', params: { delay: i * 100 } }"
      ></app-card-wrapper>
    </div>
  </ng-scrollbar>
</div>
