<mat-grid-list
  cols="12"
  rowHeight="100px"
  gutterSize="5px"
  style="width: 100%; height: 100%; margin-top: 10px"
>
  <mat-grid-tile [colspan]="2" [sm]="0" [xs]="0" [rowspan]="7"></mat-grid-tile>
  <mat-grid-tile [colspan]="8" [rowspan]="1" [sm]="12" [xs]="12">
    <mat-card class="card banner">
      <img src="/assets/party-logo.jpg" alt="banner" />
      <h1>Sushi Go</h1>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [sm]="0" [xs]="0" [rowspan]="7"></mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="4" [sm]="12" [xs]="12">
    <app-user style="width: 100%; height: 100%"></app-user>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="4" [sm]="12" [xs]="12">
    <app-history style="width: 100%; height: 100%"></app-history>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="8" [rowspan]="1" [sm]="12" [xs]="12">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Store link</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="8" [rowspan]="1" [sm]="12" [xs]="12">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Lobby link</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>
