@use "@angular/material" as mat;
@use "sass:map";
@include mat.core();

$primary-dark: mat.define-palette(mat.$pink-palette);
$accent-dark: mat.define-palette(mat.$blue-grey-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary-dark,
      accent: $accent-dark,
    ),
    typography: mat.define-typography-config(),
  )
);

$primary: mat.define-palette(mat.$light-blue-palette);
$accent: mat.define-palette(mat.$green-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($light-theme);
.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

@mixin addColor($color, $value) {
  --color-#{$color}: #{$value};
  --color-#{$color}-rgb: #{red($value)}, #{green($value)}, #{blue($value)};
}

$colors: (
  (
    name: "primary",
    palette: $primary,
    shade: 500,
  ),
  (
    name: "primary-light",
    palette: $primary,
    shade: 200,
  ),
  (
    name: "primary-dark",
    palette: $primary,
    shade: 700,
  ),
  (
    name: "body",
    palette: $primary,
    shade: 100,
  ),
  (
    name: "accent",
    palette: $accent,
    shade: 500,
  ),
  (
    name: "accent-light",
    palette: $accent,
    shade: 200,
  ),
  (
    name: "accent-dark",
    palette: $accent,
    shade: 800,
  )
);

$colors-dark: (
  (
    name: "primary",
    palette: $primary-dark,
    shade: 500,
  ),
  (
    name: "primary-light",
    palette: $primary-dark,
    shade: 200,
  ),
  (
    name: "primary-dark",
    palette: $primary-dark,
    shade: 800,
  ),
  (
    name: "body",
    palette: $primary-dark,
    shade: 900,
  ),
  (
    name: "accent",
    palette: $accent-dark,
    shade: 500,
  ),
  (
    name: "accent-light",
    palette: $accent-dark,
    shade: 200,
  ),
  (
    name: "accent-dark",
    palette: $accent-dark,
    shade: 800,
  )
);

:root {
  .light-theme {
    @each $color in $colors {
      @include addColor(
        map.get($color, name),
        mat.get-color-from-palette(
          map.get($color, palette),
          map.get($color, shade)
        )
      );
    }
  }
  .dark-theme {
    @each $color in $colors-dark {
      @include addColor(
        map.get($color, name),
        mat.get-color-from-palette(
          map.get($color, palette),
          map.get($color, shade)
        )
      );
    }
  }
}
